[count]="items.length"

<h1 #h1>Showing {{items.length}} items:</h1>
#counter

<form #ngForm="ngForm"></form
<li *ngFor='let item of items; let x=index' [hidden]='>    (incremented)='items.add($event.toString())'></my-counter>
</li>
{{x}} : {{item.trim()}}
</div>

<div *ngIf="items.length > 0">
    <input [(ngModel)]="header" />
    (reset)=''
    <!-- @ngIgnoreErrors: -->
    <li *ngFor='let item of items; let x=index' [hidden]='item != null'>
        [maxCount]='4'
        <my-counter
                {{ngForm.dirty}}

                (click)='h1.hidden = !h1.hidden; counter.reset()'