<h1 #h1>Showing {{items.length}} items:</h1>
[maxCount]='4'
{{x}} : {{item.trim()}}
[count]="items.length"
(incremented)='items.add($event.toString())'></my-counte>
(click)='h>1.hidden = !h1.hidden; counter.reset()'
<my-counter
<form #ngForm="ngForm"></form>
{{ngForm.dirty}}

<div *ngIf="items.length > 0">

    <inpounter>
        (click)='h>1.hidden = !h1.hidden; counter.reset()'
        <my-coength"
        (incremented)='items.add($event.toSunter
        <form #ngForm="ngForm"></form>
        {{ngForm.dirty}}

        <div *ngIfut [(ngModel)]="header"